<div class="text_bg_f4f pad_tb_2" style="height: 100%;">
	<div class="mar_lr_1">
		<div class="pad_b_1">
			<p class="text_color_9a">当前城市选择</p>
			<div class="bor bor_color_eb text_bg_fff pad_04 bor_rad_3"> <i class="weui_icon_dingwei pad_xx_8"></i>
				<span class="pad_l_10" id="text"></span>
			</div>
		</div>
		<div class="mar_t_1">
			<p class="text_color_9a">全部城市</p>
			<div class="pad_b_1 city_list">
				<ul class="tx_c">
					<li class="pad_tb_02 bor bor_color_eb bor_rad_3"  ng-class="{'current':$index == selectedRow}" ng-repeat="item in cityList" ng-click="selected($index)">{{item.value_zd}}</li>
				</ul>
			</div>
		</div>

	</div>
</div>
<div class="weui_loading_toast" ng-show="isloading">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>