<div id="info">
    <form id="userinfo">
        <div>
            <div class="pad_1 mar_t_1" style="display: block; text-align: left;">
                <div class="mar_b_10">
                    <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
                        <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_qb">
                            <span class="f-fl text_color_4c5">姓名：</span>
                            <div class="weui_cell_bd weui_cell_primary_1">
                                <!-- 姓名-->
                                <input type="text" name="usernames" id="usernames" ng-model="userinfodetal.reslName" class="weui_input" maxlength="15" />
                            </div>
                            <div class="weui_cell_ft font_s_8 text_color_4c5"></div>
                        </div>
                    </div>
                </div>
                <div class="mar_b_10">
                    <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
                        <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_qb">
                            <span class="f-fl text_color_4c5">电话：</span>
                            <div class="weui_cell_bd weui_cell_primary_1">
                                <!-- 电话-->
                                <input type="text" name="usertel" ng-model="userinfodetal.phone" id="usertel" class="weui_input" maxlength="11" />
                            </div>
                            <div class="weui_cell_ft font_s_8 text_color_4c5"></div>
                        </div>
                    </div>
                </div>
                <div class="mar_b_10">
                    <div class="f-fl mar_r_b_6" style="width: 50%">
                        <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
                            <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0">
                                <span class="f-fl text_color_4c5 font_s_9">验证码：</span>
                                <div class="weui_cell_bd weui_cell_primary_1">
                                    <input type="text" name="usercode" ng-model="userinfodetal.identifying" id="usercode" class="weui_input" maxlength="6" />
                                </div>
                                <div class="weui_cell_ft font_s_8 text_color_4c5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="f-fr bor bor_color_hui" style="width: 40%;overflow:hidden">
                        <input class="width_100 font_s_9 text_color_ac9" ng-click="sendcodes()" id="sendcode" value="获取验证码" style="padding:11px 0; text-align:center;" readonly="readonly"></div>
                    <div class="f-cf"></div>
                </div>
                <div class="mar_b_10">
                    <div class="f-fl width_25 text_color_4c5 pad_x_8">性别:</div>
                    <div class="f-fr gender text_color_9a" id="gender">
                        <ul>
                            <li class="f-fl mar_r_b_6 pad_xx_10 one">男</li>
                            <li class="f-fl pad_xx_10">女</li>
                        </ul>
                    </div>
                    <div class="f-cf"></div>
                </div>
                <div class="mar_b_10">
                    <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
                        <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_qb">
                            <span class="f-fl text_color_4c5">职业：</span>
                            <div class="weui_cell_bd weui_cell_primary_1">
                                <!-- 职业-->
                                <input type="text" name="userwork" ng-model="userinfodetal.woke" id="userwork" class="weui_input" maxlength="30" />
                            </div>
                            <div class="weui_cell_ft font_s_8 text_color_4c5"></div>
                        </div>
                    </div>
                </div>
                <div class="mar_b_10">
                    <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
                        <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_qb">
                            <span class="f-fl text_color_4c5">所在机构(公司)：</span>
                            <div class="weui_cell_bd weui_cell_primary_1">
                                <!-- 机构 -->
                                <input type="text" name="usercompany" ng-model="userinfodetal.organ" id="usercompany" class="weui_input" maxlength="50" />
                            </div>
                            <div class="weui_cell_ft font_s_8 text_color_4c5"></div>
                        </div>
                    </div>
                </div>
                <div class="mar_b_10 text_color_4c5">
                    <p class="pad_b_04 font_s_9 mar_l_1" style="text-align:left;">收件联系人地址：</p>
                    <div class="width_100">
                        <div class="width_48 f-fl form_valid">
                            <div class="pad_xx_10 bor bor_color_hui bor_rad_3">
                                <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_sj">
                                    <select class="weui_select font_s_9 tx_c pad_r_1" id="cityname" ng-model="userinfodetal.city">
                                        <option value="" selected>城市选择</option>
                                        <option ng-repeat="item in citylist" data="{{item.idzd}}" value="{{item.valuezd}}">{{item.valuezd}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="width_48 f-fr form_valid">
                            <div class="pad_xx_10 bor bor_color_hui bor_rad_3" style="padding:8px 10px 8px 0;">
                                <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_sj">
                                    <select class="weui_select font_s_9 tx_c pad_r_1" id="districtname" ng-model="userinfodetal.district">
                                        <option value="" selected>区域选择</option>
                                        <option ng-repeat="items in districts" value="{{items.valuezd}}">{{items.valuezd}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="f-cf"></div>
                    </div>
                </div>
                <div class="bor bor_color_hui bor_rad_3 pad_xx_10 mar_b_10 form_valid">
                    <div>
                        <div>
                            <!-- 详细地址 -->
                            <input type="text" class="weui_input bor_b bor_color_hui bor_type_x weui_icon_qb bor_rad_0" name="deltaladdress" id="deltaladdress" ng-model="userinfodetal.address" placeholder="请在此输入详细地址" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="mar_tb_02">
                    <button class="weui_btn weui_btn_brown" ng-click="info_submit()">确认</button>
                </div>
            </div>
        </div>
    </form>
</div>