<div class="mar_1 pad_b_2">
  <div class="mar_b_10">
    <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
      <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_qb">
        <span class="f-fl text_color_4c5">姓名：</span>
        <div class="weui_cell_bd weui_cell_primary_1">
          <!-- 姓名-->
          <inputtype="text" class="weui_input" />
        </div>
        <div class="weui_cell_ft font_s_8 text_color_4c5">
          <span style="padding: 2px 7px; margin-right: 25px; margin-left: 15px;"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mar_b_10">
    <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
      <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_qb">
        <span class="f-fl text_color_4c5">电话：</span>
        <div class="weui_cell_bd weui_cell_primary_1">
          <!-- 电话-->
          <input type="text" class="weui_input" />
        </div>
        <div class="weui_cell_ft font_s_8 text_color_4c5">
          <span style="padding: 2px 7px; margin-right: 25px; margin-left: 15px;"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mar_b_10">
    <div class="f-fl mar_r_b_6" style="width: 59%">
      <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
      <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_qb">
        <span class="f-fl text_color_4c5 font_s_9">验证码：</span>
        <div class="weui_cell_bd weui_cell_primary_1">
          <input type="text" class="weui_input" />
        </div>
        <div class="weui_cell_ft font_s_8 text_color_4c5">
          <span style="padding: 2px 7px; margin-right: 25px; margin-left: 15px;"></span>
        </div>
      </div>
    </div>
    </div>
    <div class="f-fr" style="width: 35%;">
     <button class="width_100 pad_10 font_s_9 bor bor_color_hui text_color_ac9">获取验证码</button>
    </div>
    <div class="f-cf"></div>
  </div>

  <div class="mar_b_10">
    <div class="f-fl width_25 text_color_4c5 pad_xx_10">性别：</div>
    <div class="f-fr gender text_color_9a">
      <ul>
        <li class="f-fl mar_r_b_6 pad_xx_10 one">男</li>
        <li class="f-fl pad_xx_10">女</li>
      </ul>
    </div>
    <div class="f-cf"></div>
  </div>

  <div class="mar_b_10">
    <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
      <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_qb">
        <span class="f-fl text_color_4c5">职业：</span>
        <div class="weui_cell_bd weui_cell_primary_1">
          <!-- 职业-->
          <input type="text" class="weui_input" />
        </div>
        <div class="weui_cell_ft font_s_8 text_color_4c5">
          <span style="padding: 2px 7px; margin-right: 25px; margin-left: 15px;"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mar_b_10">
    <div class="pad_xx_10 bor bor_color_hui bor_rad_3 form_valid">
      <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_qb">
        <span class="f-fl text_color_4c5">机构：</span>
        <div class="weui_cell_bd weui_cell_primary_1">
          <!-- 机构 -->
          <input type="text" class="weui_input" />
        </div>
        <div class="weui_cell_ft font_s_8 text_color_4c5">
          <span style="padding: 2px 7px; margin-right: 25px; margin-left: 15px;"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mar_b_10 text_color_4c5">
    <p class="pad_b_04 font_s_9 mar_l_1">收件联系人地址：</p>
    <div class="width_100">
      <div class="width_48 f-fl">
        <div class="pad_xx_10 bor bor_color_hui bor_rad_3">
          <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_sj">
            <select class="weui_select font_s_9 tx_c pad_r_1" id="cityname">
              <option value="" selected>请选择</option>
            </select>
          </div>
        </div>
      </div>
      <div class="width_48 f-fr">
        <div class="pad_xx_10 bor bor_color_hui bor_rad_3">
          <div class="weui_input bor_b_type_x bor_color_hui bor_rad_0 weui_icon_sj">
            <select class="weui_select font_s_9 tx_c pad_r_1" id="district">
              <option value="" selected>请选择</option>
            </select>
          </div>
        </div>
      </div>
      <div class="f-cf"></div>
    </div>
  </div>

  <div class="bor bor_color_hui bor_rad_3 pad_xx_10 mar_b_10">
    <!-- 详细地址 -->
    <input type="text" class="weui_input bor_b bor_color_hui bor_type_x weui_icon_qb bor_rad_0" placeholder="请在此输入详细地址"/>
  </div>

<div class="mar_tb_2"><button class="weui_btn weui_btn_brown">确认</button></div>

</div>