<div class="text_bg_f4f text_color_51 pad_b_3">
	<div class="pad_tb_04"><p class="pad_l_1">报告编号：{{ReportInfo.reportNum}}</p></div>
    <div class="text_bg_fff pad_tb_04"><p class="pad_l_1">物业地址：{{ReportInfo.address}}</p></div>
    <div class="pad_tb_04"><p class="pad_l_1">小区名称：{{ReportInfo.community}}</p></div>
    <div class="text_bg_fff pad_tb_04"><p class="pad_l_1">委托方：{{ReportInfo.client}}</p></div>
    <div class="pad_tb_04"><p class="pad_l_1">产权所有人：{{ReportInfo.houseownershippeople}}</p></div>
    <div class="text_bg_fff pad_tb_04"><p class="pad_l_1">建筑面积：{{ReportInfo.area}}㎡</p></div>
    <div class="pad_tb_04"><p class="pad_l_1">评估总价：{{ReportInfo.EvaluateTotal}}万</p></div>
    <div class="text_bg_fff pad_tb_04"><p class="pad_l_1">评估单价：{{ReportInfo.price}}元/㎡</p></div>
    <div class="pad_tb_04"><p class="pad_l_1">建成年代：{{ReportInfo.buildedYear}}年</p></div>
    <div class="text_bg_fff pad_tb_04"><p class="pad_l_1">产权性质：{{ReportInfo.Property}}</p></div>
    <div class="pad_tb_04"><p class="pad_l_1">使用现状：{{ReportInfo.presentStatus}}</p></div>
    <div class="text_bg_fff pad_tb_04"><p class="pad_l_1">物理结构是否变：{{ReportInfo.physicalChange}}</p></div>
    <div class="pad_tb_04"><p class="pad_l_1">评估时间：{{ReportInfo.finishDate}}</p></div>
    <div class="text_bg_fff pad_tb_04"><p class="pad_l_1">评估公司：{{ReportInfo.company}}</p></div>
</div>