<div class="text_bg_f4f">
    <div class="pad_b_1" id="top">
        <p class="weui_btn_brown tx_c text_color_fff pad_tb_04">使用须知</p>
        <p class="mar_1 text_color_51 font_s_9">“报告真伪”查询功能，是客户在房估估平台或者与房估估有合作的当地机构进行委托报单，并已取得报告，客户就可以凭借报告上面的<span class="text_color_red">15位报告编号</span>或者<span class="text_color_red">二维码</span>，对报告的真伪进行验证。</p>
    </div>

    <div class="pad_b_1" style="margin-bottom: 4em;">
        <p class="weui_btn_brown tx_c text_color_fff pad_tb_04">与房估估合作的评估机构</p>
        <div class="text_color_51" style="overflow:auto;" id="divCompany">

            <div class="mar_1 bor_b bor_color_eb tx_c" ng-repeat="item in CityList">
                <p><strong>{{item.cityName}}</strong></p>

                <p class="font_s_9 pad_b_4" ng-repeat="subItem in item.companyList">{{subItem}}</p>

                <!--<p class="font_s_9">北京仁达房地产评估有限公司</p>
                <p class="font_s_9">北京仁达房地产评估有限公司</p>
                <p class="font_s_9">北京仁达房地产评估有限公司</p>
                <p class="font_s_9">北京仁达房地产评估有限公司</p>
                <p class="font_s_9 pad_b_4">北京大地盛业房地产土地评估有限公司</p>
                <p class="font_s_9 pad_b_4">北京大地盛业房地产土地评估有限公司</p>-->
            </div>

            <!--<div class="mar_1 bor_b bor_color_eb tx_c">
                <p><strong>北京</strong></p>
            <p class="font_s_9">北京仁达房地产评估有限公司</p>
            <p class="font_s_9 pad_b_4">北京大地盛业房地产土地评估有限公司</p>
            </div>

            <div class="mar_1 bor_b bor_color_eb tx_c">
                <p><strong>北京</strong></p>
            <p class="font_s_9">北京仁达房地产评估有限公司</p>
            <p class="font_s_9 pad_b_4">北京大地盛业房地产土地评估有限公司</p>
            </div>

            <div class="mar_1 bor_b bor_color_eb tx_c">
                <p><strong>北京</strong></p>
            <p class="font_s_9">北京仁达房地产评估有限公司</p>
            <p class="font_s_9 pad_b_4">北京大地盛业房地产土地评估有限公司</p>
            </div>-->
        </div>
    </div>

    <div class=" weui_btn_e3" style="position:fixed;bottom:0;left:0; width:100%;" id="fixedbottom">
        <div style="position:relative;margin: 1em .5em;">
            <button class="weui_btn weui_btn_brown" ng-click="startSelect()">开始验真伪</button>
        </div>
    </div>

</div>