<div class="mar_lr_1 pad_tb_3">
	<p class="text_color_4c5 " style="text-indent:2em;">&nbsp;&nbsp;<span class="text_color_red">{{submittime}}&nbsp;&nbsp;&nbsp;</span>您的委托我们已成功接收,订单号是：<span class="text_color_red" style="word-break:break-all;word-wrap:break-word;">{{resultnum}}&nbsp;&nbsp;</span>稍后会给您去电进行核实，请保持通讯畅通，我们将会及时的将报告进度信息反馈给您.【房估估】!</p>
</div>
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast" style="width:7.6em;min-height:3.8em;height:3.8em;">
        <p class="weui_toast_content" style="width:7.6em;margin:0;padding:0.5em;"><span id="seconds"></span>秒后跳转到报单记录页面。</p>
    </div>
</div>