<div class="pad_2 mar_lr_1">
	<p class="tx_c text_color_666">请输入您对房价的估价<br/>
	以便我们的提高</p>

	<div class="bor bor_color_hui bor_rad_3 pad_xx_10 mar_t_1 mar_b_10">
		<input type="text" class="weui_input bor_b_type_x bor_color_hui bor_rad_0" />
	</div>

	<div class="bor bor_color_hui bor_rad_3 pad_xx_10 mar_t_1 mar_b_10">
		<input type="text" class="weui_input bor_b_type_x bor_color_hui bor_rad_0" />
	</div>

<div class="mar_tb_1">
	<button class="weui_btn weui_btn_brown">确定</button>
</div>


</div>