<div class="text_bg_red">
	<div class="mar_lr_1 pad_t_1">
		<div style="display: inline-block;"> <i class="pad_2 weui_icon_dw f-fl"></i>
			<div class="f-fl text_color_fff pad_l_1 mar_t_02">
				<p class="font_s_13">定位查询</p>
				<p class="font_s_9">轻松点击位置，站着也能查询</p>
			</div>
		</div>
	</div>

	<div class="mar_lr_1">
		<div class="pad_tb_1">
			<div class="weui_icon_dwbg" style="padding: 400px 0;">
				<div class="f-fl" style="width: 45%; padding-right: 10%;">
					<div style="position: absolute; top: 20em; width: 45%;"> <i class="weui_icon_xsy f-fl text_color_fff" style="padding-top: -4px; padding-left: 8px; padding-right: 9px; padding-bottom: 45px">1</i>
						<p class="text_color_fff font_s_7" style="padding-top: 2px;">在服务号界面点击切换对话按钮</p>
					</div>
					<div style="position: absolute; top: 39.5em; width: 45%;">
						<i class=" weui_icon_xsy f-fl text_color_fff" style="padding-top: -6px; padding-left: 8px; padding-right: 9px; padding-bottom: 45px">3</i>
						<p class="text_color_fff font_s_7" style="padding-top: -12px;">在地图界面获得您的位置，点击右上角的发送按钮</p>
					</div>
				</div>
				<div class="f-fr" style="width: 45%;">
					<div style="position: absolute; top: 30.5em; width: 40%;">
						<i class="weui_icon_xsy f-fl text_color_fff" style="padding-top: -6px; padding-left: 8px; padding-right: 9px; padding-bottom: 45px">2</i>
						<p class="text_color_fff font_s_6" style="padding-top: -8px;padding-bottom: 45px;">按加号打开功能界面,点击位置,确保您的GRPS定位打开</p>
					</div>
					<div style="position: absolute; top: 49.5em; width: 40%;">
						<i class="weui_icon_xsy f-fl text_color_fff" style="padding-top: -6px; padding-left: 8px; padding-right: 9px; padding-bottom: 48px;">4</i>
						<p class="text_color_fff font_s_7" style="padding-top: 2px;">界面会反馈您的定位，列出符合您位置的小区信息</p>
					</div>
				</div>
			</div>
			<!-- <ul class="f-cf">
			<li style="width: 50%;">
				<p class="weui_icon_dw1 pad_tb_8"></p>
				<div>
					<i class="pad_4_8 weui_icon_xsy f-fl text_color_fff">1</i>
					<p class="text_color_fff font_s_9" style="padding-top: 2px;">在服务号界面点击切换对话按钮</p>
				</div>
			</li>
			<li style="width: 50%; position: absolute; right: 0; top: 100px;">
				<p class="weui_icon_dw2 pad_tb_8"></p>
				<div>
					<i class="pad_4_8 weui_icon_xsy f-fl text_color_fff">2</i>
					<p class="text_color_fff font_s_9" style="padding-top: 2px;">在服务号界面点击切换对话按钮</p>
				</div>
			</li>
		</ul>
		-->
	</div>
</div>

</div>